/* Light mode variables */
:root {
  --bg-color: #f5f7fa;
  --card-color: #edf0f5;
  --button-hover-color:#edf0f5;
  --button-color:#e2e6ed;
  --text-color: #2f3542;
  --link-color: #0661bc; 
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
  --bg-color: #2f3542;
  --card-color: #4c5364;
  --button-hover-color:#8a93a3;
  --button-color:#6b7384;
  --text-color: #f5f7fa;
  --link-color: #3a9cff; 
  }
}


/* Fade-in animations */
@keyframes containerFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes elementFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.container {
  max-width: 600px;
  width: 100%;
  background-color: var(--card-color);
  box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.24), 0 12px 50px 0 rgba(0,0,0,0.19);
  padding: 4rem;
  border-radius: 20px;
  text-align: center;
  animation: containerFadeIn 1s ease-out;
}
img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 0%;
  margin-bottom: 1rem;
}

h1 {
  margin: 0.5rem 0;
  font-size: 2rem;
  animation: elementFadeIn 1s ease-out;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  animation: elementFadeIn 1.5s ease-out;
}

.links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
  animation: elementFadeIn1.52s ease-out;
}

a:hover {
  text-decoration: underline;
}

.button {
  background-color: var(--button-color);
  color:var(--text-color); /* White text */
  border: 0px solid var(--border-color);
  padding: 13px 29px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline for anchor tags used as buttons */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 8px; /* Rounded corners */
  transition-duration: 0.3s; /* Smooth transition for hover effects */
  animation: elementFadeIn 2s ease-out;
}

.button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.24), 0 12px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
  transform: translate(0px, -4px);
  text-decoration: none;
  border: none;
}