/* Light mode: https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
:root {
  --bg-color: #E9ECEF;
  --card-color: #DEE2E6;
  --button-hover-color:#DEE2E6;
  --button-color:#CED4DA;
  --text-color: #212529;
  --link-color: #0661bc; 
}

/* Dark mode: https://coolors.co/palette/0e1c26-13232c-172a32-1c3139-21373f-253e45-2a454b */
@media (prefers-color-scheme: dark) {
  :root {
  --bg-color: #0E1C26;
  --card-color: #13232C;
  --button-hover-color:#1C3139;
  --button-color:#172A32;
  --text-color: #BFC3BA;
  --link-color: #748CAB; 
  }
}


/* Fade-in animations */
@keyframes containerFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes elementFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

.container {
  max-width: 400px;
  width: 80%;
  background-color: var(--card-color);
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.24), 3px 9px 27px 0 rgba(0,0,0,0.19);
  padding: 3rem;
  border-radius: 30px;
  text-align: center;
  animation: containerFadeIn 1s ease-out;
}

img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 0%;
  margin-bottom: 1rem;
}

h1 {
  margin: 0.5rem 0;
  font-size: 2rem;
  animation: elementFadeIn 1s ease-out;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  animation: elementFadeIn 1.5s ease-out;
}

.links {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
  animation: elementFadeIn1.52s ease-out;
}

a:hover {
  text-decoration: underline;
}

.button {
  background-color: var(--button-color);
  color:var(--text-color); /* White text */
  border: 0px solid var(--border-color);
  padding: 13px 29px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline for anchor tags used as buttons */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 15px; /* Rounded corners */
  transition-duration: 0.2s; /* Smooth transition for hover effects */
  animation: elementFadeIn 2s ease-out;
}

.button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.24), 0 12px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.15);
  transform: translate(0px, -4px);
  text-decoration: none;
  border: none;
}

.button:active {
  transition-duration: 0.15s; /* Smooth transition for hover effects */
  transform: scale(0.85);
}